
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: black;
    color: gold;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
    color: gold;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


#namelabel {
    color: gold;
    font-size: 18px;
    margin-bottom: 10px;
}


#int{
    width: 300px;
    height: 45px;
    text-align: center;
    border: 2px solid gold;
    background-color: white;
    color: gold;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

#intname::placeholder {
    color: gold;
    font-size: 18px;
}


#sub{
    margin-top: 10px;
    background-color: gold;
    color: green;
    border: 2px solid gold;
    font-size: 18px;
}
img{
    width: 400px;
    height: 500px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}